@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto|Slabo+27px&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-logo: 'Slabo 27px', serif;
  --ff-main: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ff-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
