/* .Palette {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
} */

/* .Palette-colors {
  height: 90%;
} */

/* .Palette-footer {
  height: 5vh;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 900;
} */

/* .emoji {
  margin-left: 1rem;
} */
